/* .todosEjercicios a {
  text-decoration: none;
  background-color: #5cb85c;
  border-radius: 5px;
  color: #fff;
  border: none;
  font-size: 19px;
  cursor: pointer;
  height: 20px;
  padding: 10px;
}

.todosEjercicios>div {
  display: flex;
  gap: 30px;
} */


.inicio2{
  margin-bottom: 23px;
  margin-top: 24px;
}.inicio h1{
  
}